# Config for brn-backports

# URLs
BACKPORTS_URL=git://git.kernel.org/pub/scm/linux/kernel/git/backports/backports.git
LINUX_NEXT_URL=git://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git

BACKPORTS_DIR=brn-backports
LINUX_NEXT_DIR=brn-linux-next
BUILD_DIR=backports-build

# Release versions
BACKPORTS_VERSION=backports-20150612
LINUX_NEXT_VERSION=next-20150612
BACKPORTS_CONFIG=config/backports-20150909.config
RELEASE_DIR=brn-backports-release
RELEASE_BRANCH=release

#Devel
DEVEL_BRANCH=devel
BRN_MASTER=brn-master
DEVEL_DIR=brn-backports-devel
